* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    touch-action: manipulation !important;
}

html {
    position: fixed;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
}

button, input {
    outline: none;
    border: none
}
button:focus, input:focus {
    outline: none;
    border: none;
}


/* FLEX */
.flex,
.flex-col {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-fit {
    flex: 1 0 auto;
}

.flex-fill {
    flex: 1 1;
}

.flex-center {
    align-items: center;
}

.flex-middle {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

/* app */
body {
    background: black;
}

#app {
    position: relative;
    border: .8em solid white;
    transition: border .5s ease;
    max-width: 100%;
    max-height: 100%;
}

#label-score,
#label-high-score {
    position: absolute;
    top: 0;
    color: white;
    font-weight: 900;
    font-size: 2.5em;
    padding: 1em;
    transition: color .5s ease;
}

#label-high-score {
    right: 0;
}

#label-start {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 2em;
    bottom: 0;
    padding: 1em;
    transition: color .5s ease;
}

#button-share {
    background: transparent;
    color: white;
    font-size: 1em;
    margin-right: .8em;
    font-weight: 900;
    cursor: pointer;
}

#credits {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: .8em;
    margin: 2.5em;
}

#credits a:first-child {
    margin-right: 1em;
}

#credits img {
    height: 2.5em;
}

@keyframes floaty {
    0% {
        transform: scale(110%);
    }
    100% {
        transform: scale(90%);
    }
}
.floaty {
    animation: floaty infinite alternate 1s;
}

#leaderboard {
    position: fixed;
    align-self: center;
    left: 50%;
    transform: translate(-50%);
    height: 70%;
    width: 30em;
    background: black;
    border: .5em solid white;
    padding-bottom: 1em;
}

#leaderboard > label:first-child {
    color: white;
    font-size: 2em;
    font-weight: 800;
}

#leaderboard #input-name {
    background: black;
    color: white;
    font-size: 1em;
    font-weight: 900;
    width: 5em;
    margin-right: 1em;
    text-align: center;
    margin-top: .2em;
    border-bottom: .2em solid  white;
}

#leaderboard #input-name::placeholder {
    color: inherit;
    opacity: .5;
}

#leaderboard #input-color {
    border: none;
    outline: none;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

#leaderboard #input-color::-moz-color-swatch {
    border: none;
}
#leaderboard #input-color::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}
#leaderboard #input-color::-webkit-color-swatch {
    border: none;
}

#leaderboard #button-submit {
    background: transparent;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    margin-left: .5em;
    cursor: pointer;
}

#leaderboard #button-submit:disabled {
    opacity: .5;
}

#leaderboard #scores {
    overflow: auto;
}

#leaderboard .score-row {
    display: flex;
    width: 100%;
    height: min-content;
    margin: .3em 0;
}

#leaderboard #scores-header.score-row label {
    border-bottom: .2em solid white;
}

#leaderboard .score-row label {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

#leaderboard .score-row label:nth-child(1) {
    flex-basis: 15%;
    margin: 0 .5em;
}

#leaderboard .score-row label:nth-child(2) {
    flex-basis: 65%;
}

#leaderboard .score-row label:nth-child(3) {
    flex-basis: 20%;
    margin: 0 .5em;
}